﻿html, body {
    height: 100%;
    background: #F1F2F7;
    font-size: 14px;
    padding-right: 3px;
}

.larry-grid {
    display: block;
    width: calc(100% - 30px);
    width: -moz-calc(100%-30px);
    width: -webkit-calc(100%-30px);
    height: auto;
    margin: 0 auto;
    padding: 15px;
    background: #F1F2F7;
    border-radius: 5px;
}
