﻿@charset "utf-8";
/*
* @Author: Larry
* @Date:   2016-12-15 17:20:54
* @Last Modified by:   qinsh
* @Last Modified time: 2016-12-20 18:06:40
* +----------------------------------------------------------------------
* | LarryBlogCMS [ LarryCMS网站内容管理系统 ]
* | Copyright (c) 2016-2017 http://www.larrycms.com All rights reserved.
* | Licensed ( http://www.larrycms.com/licenses/ )
* | Author: qinshouwei <313492783@qq.com>
* +----------------------------------------------------------------------
*/
/* 公共样式 */
body {
    background: #F1F2F7;
    overflow-x: hidden;
    padding: 0px;
}

.larry-personal {
    margin: 0 auto;
    background: #ffffff;
    border-radius: 3px;
    padding-bottom: 0px;
    border: none;
}

header.larry-personal-tit {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #EEEFF1;
    padding: 0 20px;
    padding-left: 30px;
}

    header.larry-personal-tit span {
        line-height: 50px;
        font-size: 14px;
        color: #858585;
        font-weight: 300;
    }

.larry-personal-body {
    padding: 20px;
}

.layui-form {
    padding: 0px;
}
    /* 个人信息 */
    .layui-form .layui-form-item label.layui-form-label {
        width: 120px;
        font-family: "Microsoft YaHei";
    }

.layui-input-block {
    margin-left: 160px;
}

.layui-disabled {
    background: #EEEEEE;
    color: #595963 !important;
}

    .layui-disabled:hover {
        color: #595963 !important;
    }

.layui-input-block textarea {
    height: 90px;
}
/* 修改密码 */
.changepwd {
    padding-bottom: 150px;
}

.change-submit {
    margin-top: 20px;
}
/* 日志管理 */
.layui-elem-quote {
    background: #ffffff;
    border-bottom: 1px solid #E2E2E2;
    margin-bottom: 0px;
}

.larry-separate {
    background: #F2F2F2;
    width: 100%;
    height: 10px;
}

.mylog-info-tit .layui-tab-title {
    border: none;
}

    .mylog-info-tit .layui-tab-title li {
        color: #ffffff;
        border-radius: 3px;
        margin-right: 10px;
    }

        .mylog-info-tit .layui-tab-title li i {
            padding-right: 5px;
        }

        .mylog-info-tit .layui-tab-title li.layui-this {
            background: #FF5722;
            border: none;
            border-radius: 3px;
        }

.larry-log-del {
    display: inline-block;
    width: 100px;
    height: 38px;
    float: right;
    color: #ffffff;
    line-height: 38px;
    text-align: center;
}

    .larry-log-del i {
        display: inline-block;
        font-size: 16px;
    }

.mylog-info-box .layui-tab-content {
    margin: 0px;
    padding: 0px;
}

    .mylog-info-box .layui-tab-content .layui-tab-item {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

.mylog-info-box {
    padding-top: 15px;
    padding-bottom: 20px;
}

    .mylog-info-box .layui-tab-item {
        /* 	border: 1px solid red; */
    }

.layui-field-box .layui-table {
    margin-top: 0px;
    border: 1px solid #E2E2E2;
}

    .layui-field-box .layui-table tr th,
    .layui-field-box .layui-table tr td {
        text-align: center;
        /* 	padding: 0px; */
    }

        .layui-field-box .layui-table tr th:first-child,
        .layui-field-box .layui-table tr td:first-child {
            width: 40px;
            padding: 0px;
        }

        .layui-field-box .layui-table tr th:nth-child(2) {
            padding: 0px;
            text-align: left;
            text-indent: 5px;
        }

        .layui-field-box .layui-table tr td:nth-child(2) {
            padding: 0px;
            text-align: left;
        }

.table-hover tbody tr:hover {
    background-color: #EEEEEE;
}

.layui-btn i {
    padding-right: 5px;
}

.larry-table-page {
    width: 100%;
    height: 50px;
    padding-top: 6px;
}

    .larry-table-page .layui-btn {
        display: block;
        float: left;
    }

    .larry-table-page .page {
        padding-left: 15px;
        float: left;
    }

        .larry-table-page .page .layui-laypage {
            padding: 0px;
            margin: 0px;
        }
